* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
 .container{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition: 0.5s;
}
.container:hover{
    transform: perspective(900px) rotateY(-35deg);
    transition: 0.5s;
    cursor: pointer;
}
.cards{
    display: flex;
    gap: 50px;
}
.card{
    width: 400px;
    height: 275px;
    background-color: white;
    box-shadow: rgba(0,0,0, 0.35) 0px 5px 15px;

} 
